<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="./assets/css/style4.css">
    <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif">
    <link rel="icon" href="./assets/images/4.png" type="image/png">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <header class="header" data-header>
        <!-- <div class="container">
    
          <div class="overlay" data-overlay></div>
    
          <div class="header-search">
            <input type="search" name="search" placeholder="Search Product..." class="input-field">
    
            <button class="search-btn" aria-label="Search">
              <ion-icon name="search-outline"></ion-icon>
            </button>
          </div>
    
          <a href="#" class="logo">
            <img src="./assets/images/4.png" alt="Casmart logo" width="160" height="31">
          </a>
    
          <div class="header-actions">
    
            <a href="roleselectform.html"><button class="header-action-btn" >
              <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
    
              <p class="header-action-label">Sign in</p>
            </button></a>
    
            <button class="header-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
    
              <p class="header-action-label">Search</p>
            </button>
    
            <button class="header-action-btn">
              <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
    
              <p class="header-action-label">Cart</p>
    
              <div class="btn-badge green" aria-hidden="true">3</div>
            </button>
    
            <button class="header-action-btn">
              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
    
              <p class="header-action-label">Wishlisht</p>
    
              <div class="btn-badge" aria-hidden="true">2</div>
            </button>
            <button class="header-action-btn">
              <ion-icon name="musical-notes-outline" aria-hidden="true"></ion-icon>
    
              <p class="header-action-label">Song off</p>
    
               <div class="btn-badge" aria-hidden="true"></div> 
            </button>
    
    
    
          </div> -->
    
          <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
    
          <nav class="navbar" data-navbar>
    
            <div class="navbar-top">
    
              <a href="#" class="logo">
                <img src="./assets/images/logo.svg" alt="Casmart logo" width="130" height="31">
              </a>
    
              <button  class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                <ion-icon  name="close-outline"></ion-icon>
              </button>
    
            </div>
            <!-- <audio id="background-music" src="./assets/images/music.mp3" autoplay loop muted></audio> -->
    
            <ul class="navbar-list">
    
              <li>
                <a href="index.html" class="navbar-link">Home</a>
              </li>
    
              <li>
                <a href="shopping.html" class="navbar-link">Shop</a>
              </li>
              
    
              <li>
                <a href="about.html" class="navbar-link">About</a>
              </li>
    
              
    
              <li>
                <a href="#" class="navbar-link">Contact</a>
              </li>
              <li>
                <button id="toggleButton"><a href="#" id="play-pause-btn" class="navbar-link">Song Off</a> </button>
              </li>
    
            </ul>
    
          </nav>
    
        </div>
      </header>
    
    <!-- -----------------------------------------------company---------------------------------------------------------------- -->
    <div class="company">
      <div class="img">
        <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
      </div>
      <div class="company-info">
        <!-- <span>PHOTOS <span class="our">FOR EVERYONE</span></span> -->
        <p>
          
Welcome to GOD LUXONOR!

At GOD LUXONOR , we're not just another online marketplace – we're a community where everyone has the opportunity to shop, sell, and earn. Inspired by the giants like Amazon and Flipkart, we bring you an innovative platform where you can find a wide range of products, from electronics to fashion, home essentials to gadgets, and everything in between.

Why Shop With Us?

Diverse Product Range: Discover an extensive collection of high-quality products at competitive prices. Whether you're looking for the latest tech gadgets or stylish apparel, we have it all.
Exclusive Offers: Enjoy unbeatable deals and discounts that make shopping more rewarding.
Secure Shopping: Shop with confidence knowing that our platform is designed to protect your personal and financial information.
Earn While You Shop

Our unique twist sets us apart from traditional online stores. Not only can you purchase items as usual, but you also have the opportunity to become a seller and earn money by selling our products. Here’s how:

Become a Seller: Sign up as a seller on our platform and list our products. You’ll earn a commission on every sale made through your store.
Flexible Income: Whether you want to make a little extra on the side or build a substantial income, our platform supports your goals.
Community Support: Join a community of sellers who share tips, strategies, and support to help each other succeed.
Our Mission

We aim to revolutionize the way you shop and earn online. By combining the convenience of online shopping with the potential to earn, we empower our users to take control of their shopping experience and financial future.

Join us today and start shopping, selling, and earning with GOD LUXONOR !
        </p>
      </div>
    </div><br><br>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team-------------------------------------------------------------- -->
    <!-- <div class="team"><span></span></div>
    <div class="container">
      <div class="card">
        <div class="card-image loading"><img src="https://images.pexels.com/photos/39866/entrepreneur-startup-start-up-man-39866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Tejus <span class="yellow-surname">Dewakar</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">CEO</span> <br>
              IITBHU - Indian Institute of Technology (BHU) Varanasi <br>
              Email: <a href="mailto:'yashfalke77@gmail.com'">yashfalke77@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 9 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="https://www.instagram.com/yashfalke77/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div> -->
      <!-- <div class="card">
        <div class="card-image loading"><img src="" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Aditya <span class="yellow-surname">Jyoti</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Web Developing Head</span> <br>
              IITBHU - Indian Institute of Technology (BHU) Varanasi <br>
              Email: <a href="mailto:'harshsunwani11@gmail.com'">adityajyotisri24@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 7 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></i></a>
            <a href="https://www.instagram.com/harshsunwani/" class="loading" target="on_blank"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-image loading"><img src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" /></div>
        <div class="card-info">
          <h3 class="card-title loading"><span>Nikhil <span class="yellow-surname">Jaiswal</span></span></h3>
          <p class="card-description loading">
            <span class="personal-info">
              <span class="info">Marketing and Publicity Head</span> <br>
              Pursuing IT Engineering (VIT Mumbai) <br>
              Email: <a href="mailto:'nikjaiswal21@gmail.com'">nikjaiswal21@gmail.com</a>
            </span>
          </p>
          <div class="card-mediaIcons">
            <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="{% url 'viewprofile' 6 %}" class="loading" target="on_blank"><i><img
                  src="https://raw.githubusercontent.com/pico-india/main-django/main/static/PICO-LOGO-SHORT.png" alt="Pico"></a></i>
            <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- ----------------------------------------footer------------------------------------------ -->
    <!-- <footer>
      <div class="content">
        <div class="top">
          <div class="logo-details">
            <span class="logo_name">Pico</span>
          </div>
          <div class="media-icons">
            <a target="on_blank" href="#"><i class="fab fa-facebook"></i></a>
            <a target="on_blank" href="https://www.instagram.com/pico_india/"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <li class="link_name">Links</li>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'upload' %}">Submit Photo</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Recommended</li>
            <li><a href="{% url 'category' 6 %}">India</a></li>
            <li><a href="{% url 'category' 5 %">Art and Culture</a></li>
            <li><a href="{% url 'category' 11 %">People</a></li>
            <li><a href="{% url 'category' 2 %">Travel</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Legal Info</li>
            <li><a href="{% url 'licence' %}">Licence</a></li>
            <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
            <li><a href="{% url 'privacy' %}">Privacy Policies</a></li>
  
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a target="on_blank" href="tel:+919079680135">+91 9079680135</a></li>
            <li><a target="on_blank" href="mailto:'connectpicoindia@gmail.com'">contactpicoindia@gmail.com</a></li>
          </ul>
        </div>
      </div>
  
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text">Copyright © 2021 <a href="#">Pico.</a></span>
        </div>
      </div>
    </footer> -->
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
  <script src="./assets/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </html>